html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scrollbar-width: none;
    position: fixed;
    background-color:rgb(228, 228, 228);
}

body::webkit-scrollbar {
    display: none;
}

#title, h1 {
    display: inline;

    font-family: 'Euphoria Script';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    text-align: center;

    color: #B213FD;

    text-shadow: 4px 8px 6px rgba(0, 0, 0, 0.5);
}

.parallax {
    background-image: url(media/homepage_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#padded_body {
    padding-top: 6%;
}

.navbar {
    opacity: none;
    background: rgba(28, 77, 4, 0.65);
    backdrop-filter: blur(7.5px);
    overflow: hidden;
    z-index: 1000;
    top: 0; width: 100%; position: fixed; /* sticky navbar */
}

#nav_title {
    font-family: 'Euphoria Script';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;

    overflow: hidden;

    color: #B213FD;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.below_homepage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* subject to change */ 
}

.homepage_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.right_block {
    order: 2;
    height: 100%;
    width: 40%;
}

.right_block a {
    position: absolute;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.left_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    width: 60%;
    height: 100%
}


.l_r_container{
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px; 
    align-items: start;
}

.section_title h2 {
    margin: 0px 0px 0px 6%;
    font-size: 60px;
    color: #B213FD;
    font-family: 'Libre Baskerville';
}

.section_title{
    display: inline;
    order: 1;
    height: auto;
    vertical-align:top;
    width: 100%;
}

.section_info {
    order: 2;
}

.section_info p {
    margin: 0px 0px 0px 6%;
    text-align: justify;
    text-justify: inter-character;
    font-size: 30px;
}

.section_image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 350ms;
    overflow: hidden;
}

.section_image img {
    position: absolute;
    filter: brightness(80%);
    width: 55%;
}

.section_image:hover {
    transform: scale(1.05);
}

.static_carousel {
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
}

.static_carousel a {
    z-index: 3;
    display: block;
    position: absolute;
    width: 100%; height: 100%;
}

.static_carousel_item {
    height: 300px; width: 300px;
    overflow: hidden;
    transition: all ease-in-out 500ms;
    margin: 50px 0px 50px 0px;
    box-shadow: /* https://shadows.brumm.af/ */
        2.5px 2.3px 3.3px rgba(0, 0, 0, 0.036),
        5.7px 5.4px 7.8px rgba(0, 0, 0, 0.052),
        10.3px 9.7px 13.9px rgba(0, 0, 0, 0.064),
        17px 16.1px 23.1px rgba(0, 0, 0, 0.076),
        28px 26.5px 38.1px rgba(0, 0, 0, 0.088),
        49px 46.2px 66.6px rgba(0, 0, 0, 0.104),
        106px 100px 144px rgba(0, 0, 0, 0.14)
        ;
}

.static_carousel_item:hover {
    transform: scale(1.05);
}

.static_carousel_text {
    position: absolute;
    display: flex;
    line-height: 100%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 8px 6px rgba(0, 0, 0, 0.7);
}

.static_carousel_text h2 {
    font-family: 'Euphoria Script';
    font-style: bold;
    font-size: 40px;

    text-align: center;
    color: #B213FD;
}

.static_carousel_box {
    width: 100%;
    height: 100%;
    position: relative;
}

.static_carousel_image{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(2px);
    filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.gallery_item {
    height: 400px; width: 350px;
    margin: 0px 90px 100px 90px;
    background: rgba(28, 77, 4, 0.65);
    backdrop-filter: blur(7.5px);
    transition: all ease-in-out 200ms;
    box-shadow: /* https://shadows.brumm.af/ */
        2.5px 2.3px 3.3px rgba(0, 0, 0, 0.036),
        5.7px 5.4px 7.8px rgba(0, 0, 0, 0.052),
        10.3px 9.7px 13.9px rgba(0, 0, 0, 0.064),
        17px 16.1px 23.1px rgba(0, 0, 0, 0.076),
        28px 26.5px 38.1px rgba(0, 0, 0, 0.088),
        49px 46.2px 66.6px rgba(0, 0, 0, 0.104),
        106px 100px 144px rgba(0, 0, 0, 0.14)
        ;
}

.gallery_item a {
    display: block;
    position: absolute;
    height: 100%; width: 100%;
    z-index: 3;
}

.gallery_info {
    font-size: 13px;
    position: absolute;
    width: 95%; height: calc(100% - 150px);
    top: 150px;
    font-family: 'Libre Baskerville';
    color: white;
    z-index: 10;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 20px;
}

.gallery_item:hover {
    transform: scale(1.05);
}

.gallery_title {
    position: absolute;
    width: 100%; height: 100%;

    font-family: 'Euphoria Script';
    font-style: normal;
    font-size: 30px;
    line-height: 56px;
    text-align: center;

    color: #B213FD;
    text-shadow: 4px 8px 6px rgba(0, 0, 0, 0.5);
}

.gallery_image_box {
    width: 350px;
    height: 150px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    position: absolute;
}

.gallery_image{
    position: absolute;
    height: 100%; width: 100%;
    filter: blur(1.5px);
    filter: brightness(50%);
}

.gallery_image img {
    height: 100%; width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#ivy {
    background-image: url("media/ivy_background.jpg"); 
    background-size:cover;
    position: absolute;
}

#fox {
    background-image: url("media/fox_background.jpg");
    background-size:cover;
    position: absolute;
}

#fox_1 {
    background-image: url("media/fox_background.jpg");
}

#queens_1 {
    background-image: url("media/queens_background.jpg");
}

#ivy_1 {
    background-image: url("media/ivy_background.jpg");
}

#lawn_tennis_museum_1 {
    background-image: url("media/lawn_tennis_museum.jpg");
}

#london_1 {
    background-image: url("media/london.jpeg");
}

#manchester_1 {
    background-image: url("media/manchester.jpg");
}

#hotel_du_vin_1 {
    background-image: url("media/hotel_du_vin.jpg");
}

#fox_and_1 {
    background-image: url("media/fox_and_the_grapes.jpg");
}

#premier_1 {
    background-image: url("media/premier_inn.jpg");
}

#wimbledon_common_1 {
    background-image: url("media/wimbledon_common.jpg");
}

#cannizaro_park_1 {
    background-image: url("media/cannizaro_parkl.jpg");
}

#war_memorial_1 {
    background-image: url("media/war_memorial.jpg");
}
