html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scrollbar-width: none;
    position: fixed;
    background-color:rgb(228, 228, 228);
}

body::webkit-scrollbar {
    display: none;
}


.parallax {
    height: 100%;
    background: url(media/homepage_background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    /* parallax image effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title, h1 {
    display: inline;

    font-family: 'Euphoria Script';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    text-align: center;

    color: #B213FD;

    text-shadow: 4px 8px 6px rgba(0, 0, 0, 0.5);
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar {
    background: rgba(28, 77, 4, 0.65);
    backdrop-filter: blur(7.5px);
    overflow: hidden;
    top: 0; width: 100%; position: fixed; /* sticky navbar */
}

#nav_title {
    font-family: 'Euphoria Script';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;

    overflow: hidden;

    color: #B213FD;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%; width: 100%;
    margin: auto;
}

.gallery_item{
    height: 400px; width: 350px;
    background-color: green;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 0.75s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
